{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{% static 'css/style.css'%}" />
    <meta charset="UTF-8">
    <title>My Beautiful BLog</title>
</head>

<body>
    <div>
        <ul style="list-style: none; text-align: center">
            {% for i in shino %}
            <li>
                <div>
                    <p>
                        <a href="tire_fitting/"><img src="{{ i.image.url }}" style="width: 600px; height: 500px"
                                alt=""></a>
                    <h1>{{ i.title }}</h1>
                    </p>
                </div>
            </li>
            {% endfor %}
            {% for i in balans %}
            <li>
                <div>
                    <p>
                        <a href="balans/"><img src="{{ i.image.url }}" style="width: 600px; height: 500px" alt=""></a>
                    <h1>{{ i.title }}</h1>
                    </p>
                </div>
            </li>
            {% endfor %}
            {% for i in jacks %}
            <li>
                <div>
                    <p>
                        <a href="jacks/"><img src="{{ i.image.url }}" style="width: 600px; height: 500px" alt=""></a>
                    <h1>{{ i.title }}</h1>
                    </p>
                </div>
            </li>
            {% endfor %}
            {% for i in garage %}
            <li>
                <div>
                    <p>
                        <a href="garage/"><img src="{{ i.image.url }}" style="width: 600px; height: 500px" alt=""></a>
                    <h1>{{ i.title }}</h1>
                    </p>
                </div>
            </li>
            {% endfor %}
            {% for i in consumables %}
            <li>
                <div>
                    <p>
                        <a href="consumables/"><img src="{{ i.image.url }}" style="width: 600px; height: 500px" alt=""></a>
                    <h1>{{ i.title }}</h1>
                    </p>
                </div>
            </li>
            {% endfor %}
            {% for i in boxes %}
            <li>
                <div>
                    <p>
                        <a href="boxes/"><img src="{{ i.image.url }}" style="width: 600px; height: 500px" alt=""></a>
                    <h1>{{ i.title }}</h1>
                    </p>
                </div>
            </li>
            {% endfor %}
            {% for i in stands %}
            <li>
                <div>
                    <p>
                        <a href="stands/"><img src="{{ i.image.url }}" style="width: 600px; height: 500px" alt=""></a>
                    <h1>{{ i.title }}</h1>
                    </p>
                </div>
            </li>
            {% endfor %}
            {% for i in gasoline %}
            <li>
                <div>
                    <p>
                        <a href="gasoline/"><img src="{{ i.image.url }}" style="width: 600px; height: 500px" alt=""></a>
                    <h1>{{ i.title }}</h1>
                    </p>
                </div>
            </li>
            {% endfor %}
            {% for i in spares %}
            <li>
                <div>
                    <p>
                        <a href="spares/"><img src="{{ i.image.url }}" style="width: 600px; height: 500px" alt=""></a>
                    <h1>{{ i.title }}</h1>
                    </p>
                </div>
            </li>
            {% endfor %}
            {% for i in camber %}
            <li>
                <div>
                    <p>
                        <a href="camber/"><img src="{{ i.image.url }}" style="width: 600px; height: 500px" alt=""></a>
                    <h1>{{ i.title }}</h1>
                    </p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>

</html>