<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Beautiful BLog</title>
</head>
<body>
    <div>
        <ul style="list-style: none; text-align: center">
            {% for i in jacks %}
            {% if i.availiability %}
            <li>
                <div>
                    <p>
                        <a href="{{ i.pk }}/"><img src="{{ i.image.url }}" style="width: 600px; height: 500px"
                                alt=""></a>
                        <h2>{{ i.title }}</h2>
                    </p>
                </div>
            </li>
            {% endif%}
            {% endfor %}
    </div>
</body>

</html>